body{
    margin:20px auto;
    font-size: 18px;
    color: #323232;
    font-family: "Lato", sans-serif;
}
hr{border-color: #e5ceae;}
#box{
    border: 1px solid #e5ceae;
    padding: 15px 0;
    box-shadow: 20px 20px 20px 20px #000;
}
header{
    text-align: center;
    font-size: 20px;
    color: #30306d;
}
.first_row{margin-bottom: 30px;}
.formDiv{
    text-align: center;
    padding: 30px;
    background-color: #e5ceae;
}
.formDiv label{
    width: 60px;
    font-weight: 200;
}
.formDiv input{
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
    margin-left: 40px;
}
#submitBtn{
    width: 200px;
    height: 40px;
    margin-left: 90px;
    background-color: #30306d;
    color: #ffffff;
    border: 0;
}
.logIn{margin: 0 0 0 90px;}
.imgDiv{
    padding-left: 25px;
    text-align: right;
    color:#929292;
    font-size: 20px;
}
.lowerImg{
    max-width: 980px;
    height: auto;
}
.avater{
    width: 117px;
    height: auto;
}